<!DOCTYPE HTML>
<html>
<head>
    {% load staticfiles %}
<script id="allmobilize" charset="utf-8" src="{% static 'js/allmobilize.min.js' %}"></script>
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="alternate" media="handheld"  />
<!-- end 云适配 -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>找回密码-淘职网-最专业的互联网招聘平台</title>
    <link rel="Shortcut Icon" href="//www.lgstatic.com/passport/static/common/static/favicon_faed927.ico" />
<meta property="qc:admins" content="23635710066417756375" />
<meta content="淘职网是3W旗下的互联网领域垂直招聘网站,互联网职业机会尽在淘职网" name="description">
<meta content="淘职,淘职网,淘职招聘,淘职, 淘职网 ,互联网招聘,淘职互联网招聘, 移动互联网招聘, 垂直互联网招聘, 微信招聘, 微博招聘, 淘职官网, 淘职百科,跳槽, 高薪职位, 互联网圈子, IT招聘, 职场招聘, 猎头招聘,O2O招聘, LBS招聘, 社交招聘, 校园招聘, 校招,社会招聘,社招" name="keywords">

<meta name="baidu-site-verification" content="QIQ6KC1oZ6" />

<!-- <div class="web_root"  style="display:none">http://www.lagou.com</div> -->
    <script>
(function() {
    var protocol = window.location.protocol;
    var host = window.location.host;
    var baseUrl = protocol + '//' + host;

    window.GLOBAL_DOMAIN = window.GLOBAL_DOMAIN || {
        ctx: protocol + '//www.lagou.com',
        rctx: protocol + '//hr.lagou.com',
        crctx: protocol + '//hr.lagou.com/company',
        pctx: protocol + '//passport.lagou.com',
        actx: protocol + '//account.lagou.com',
        paictx: protocol + '//pai.lagou.com',
        sctx: protocol + '//suggest.lagou.com',
        zctx: protocol + '//yanzhi.lagou.com',
        proctx: 'https://pro.lagou.com',
        lgsctx: protocol + '//www.lgstatic.com',
        FE_frontLogin: baseUrl + '//www.lagou.com/frontLogin.do',
        FE_frontLogout: baseUrl + '//www.lagou.com/frontLogout.do',
        FE_frontRegister: baseUrl + '//www.lagou.com/frontRegister.do'
    };

    window.GLOBAL_CDN_DOMAIN = 'www.lgstatic.com';
})();
</script>
    <script>
    window.X_Anti_Forge_Token = 'bd3173fb-5ea8-4963-acdf-8600ef95877f';
    window.X_Anti_Forge_Code = '61406041';
</script>

<!-- H5  -->
<!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    <link rel="stylesheet" type="text/css" href="//www.lgstatic.com/passport/static/pkg/pc/page/findpassword/step1.html_aio_d5cb12d.css" />


<script type="text/javascript">
var ctx = "http://www.lagou.com";
console.log(1);
</script>
<link rel="Shortcut Icon" href="http://www.lagou.com/images/favicon.ico">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

<script src="{% static 'js/jquery.1.10.1.min.js' %}" type="text/javascript"></script>

<script type="text/javascript" src="{% static 'js/jquery.lib.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/core.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/analytics.js' %}"></script>

<script type="text/javascript">
var youdao_conv_id = 271546;
</script>
<script type="text/javascript" src="{% static 'js/conv.js' %}"></script>
</head>

<body id="login_bg">
	<div class="login_wrapper">
            <div class="login_header">
                <a href="/"><img src="{% static 'imgs/logo.png' %}" width="285" height="62" alt="淘职招聘" /></a>
                <div id="cloud_s"><img src="{% static 'imgs/cloud_s.png' %}" width="81" height="52" alt="cloud" /></div>
                <div id="cloud_m"><img src="{% static 'imgs/cloud_m.png' %}" width="136" height="95" alt="cloud" /></div>
            </div>

    	<input type="hidden" id="resubmitToken" value="" />
        <section class="content_box" id="findPwd2" style="margin-top: 50px;height: 200px;">
            <!-- 通过邮箱来找回密码 -->
            <div class="basicEdit dn">
            			<form id="profileForm">
						  <table>
						    <tbody><tr>
						      <td valign="top">
						        <span class="redstar">*</span>
						      </td>
						      <td>
						        <input type="text" placeholder="姓名" value="jason" name="name" id="name">
						      </td>
						      <td valign="top"></td>
						      <td>
						          <ul class="profile_radio clearfix reset">
						            <li class="current">
						           	  	 男<em></em>
						              	<input type="radio" checked="checked" name="gender" value="男">
						            </li>
						            <li>
						            	  女<em></em>
						              	<input type="radio" name="gender" value="女">
						            </li>
						          </ul>
						      </td>
						    </tr>
						    <tr>
						      <td valign="top">
						        <span class="redstar">*</span>
						      </td>
						      <td>
						      	<input type="hidden" id="topDegree" value="大专" name="topDegree">
						        <input type="button" value="大专" id="select_topDegree" class="profile_select_190 profile_select_normal">
								<div class="boxUpDown boxUpDown_190 dn" id="box_topDegree" style="display: none;">
						        	<ul>
						        								        			<li>大专</li>
						        								        			<li>本科</li>
						        								        			<li>硕士</li>
						        								        			<li>博士</li>
						        								        			<li>其他</li>
						        								        	</ul>
						        </div>
						      </td>
						      <td valign="top">
						        <span class="redstar">*</span>
						      </td>
						      <td>
						          <input type="hidden" id="workyear" value="" name="workyear">
						          <input type="button" value="" id="select_workyear" class="profile_select_190 profile_select_normal">
								  <div class="boxUpDown boxUpDown_190 dn" id="box_workyear" style="display: none;">
						          	 <ul>
						        								        			<li>应届毕业生</li>
						        								        			<li>1年</li>
						        								        			<li>2年</li>
						        								        			<li>3年</li>
						        								        			<li>4年</li>
						        								        			<li>5年</li>
						        								        			<li>6年</li>
						        								        			<li>7年</li>
						        								        			<li>8年</li>
						        								        			<li>9年</li>
						        								        			<li>10年</li>
						        								        			<li>10年以上</li>
						        								        	 </ul>
						          </div>
						      </td>
						    </tr>
						    <tr>
						      <td valign="top">
						        <span class="redstar">*</span>
						      </td>
						      <td colspan="3">
						          <input type="text" placeholder="手机号码" value="18644444444" name="tel" id="tel">
						      </td>
						   	</tr>
						   	<tr>
						      <td valign="top">
						        <span class="redstar">*</span>
						      </td>
						      <td colspan="3">
						          <input type="text" placeholder="接收面试通知的邮箱" value="jason@qq.com" name="email" id="email">
						      </td>
						    </tr>
						    <tr>
						      <td valign="top"> </td>
						      <td colspan="3">
						          <input type="hidden" id="currentState" value="" name="currentState">
						          <input type="button" value="目前状态" id="select_currentState" class="profile_select_410 profile_select_normal">
								  <div class="boxUpDown boxUpDown_410 dn" id="box_currentState" style="display: none;">
						          	  <ul>
						        								        			<li>我目前已离职，可快速到岗</li>
						        								        			<li>我目前正在职，正考虑换个新环境</li>
						        								        			<li>我暂时不想找工作</li>
						        								        			<li>我是应届毕业生</li>
						        								        	  </ul>
						          </div>
						      </td>
						    </tr>
						    <tr>
						      <td></td>
						      <td colspan="3">
						          <input type="submit" value="保 存" class="btn_profile_save">
						          <a class="btn_profile_cancel" href="javascript:;">取 消</a>
						      </td>
						    </tr>
						  </tbody></table>
						</form><!--end #profileForm-->
						<div class="new_portrait">
						  <div class="portrait_upload" id="portraitNo">
						      <span>上传自己的头像</span>
						  </div>
						  <div class="portraitShow dn" id="portraitShow">
						    <img width="120" height="120" src="">
						    <span>更换头像</span>
						  </div>
						  <input type="file" value="" title="支持jpg、jpeg、gif、png格式，文件小于5M" onchange="img_check(this,'h/resume/uploadPhoto.json','headPic');" name="headPic" id="headPic" class="myfiles">
							<!-- <input type="hidden" id="headPicHidden" /> -->
						  	<em>
						                  尺寸：120*120px <br>
						                  大小：小于5M
						  	</em>
						  	<span style="display:none;" id="headPic_error" class="error"></span>
						</div><!--end .new_portrait-->
            		</div><!--end .basicEdit-->
        </section>
    </div>

<input type="hidden" id="verifyStyle" style="display: none" value="nolagou"><!-- jquery lib --><!--拉勾UI框架 -->
<!-- analytics js file -->
<script type="text/javascript" src="//www.lgstatic.com/passport/static/pkg/vendor_c7a7c93.js"></script>
<script type="text/javascript" src="//www.lgstatic.com/passport/static/pkg/pc/page/findpassword/step1.html_aio_2d366a5.js"></script>
<script type="text/javascript">
    //login page
    require(['pc/page/findpassword/main']);
</script>
<script type="text/javascript" src="//www.lgstatic.com/passport/static/pkg/lg-analytics_44f2da6.js"></script>
<script type="text/javascript" src="https://passport.lagou.com/upload/oss.js"></script>
</body>
</html>
