<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'js/allmobilize.min.js'%}" charset="utf-8" id="allmobilize"></script>
    <meta charset="UTF-8">
    <title>公司列表</title>

    <link rel="stylesheet" href="{% static 'css/global.common.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/index.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/external.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery.1.10.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.lib.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajaxfileupload.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/additional-methods.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/excanvas.js' %}"></script>
    <script type="text/javascript">
        var youdao_conv_id = 271546;
    </script>
    <script type="text/javascript" src="{% static 'js/conv.js' %}"></script>
</head>
<body>


</body>
</html>